<div id="even-more-services">
    <img src="/images/carousel/business3.jpeg" alt="image" />
    <div class="right">
        <h1>Even More Services</h1>
        <div class="line"></div>
        <div class="box">
            <FontAwesomeIcon class="fa-2x" icon={faSpider} />
            <div class="box-in">
                <h3>SEO & SMO Services</h3>
                <p></p>
            </div>
        </div>
        <div  class="box">
            <FontAwesomeIcon class="fa-2x" icon={faPhoneVolume} />
            <div class="box-in">
                <h3>Voice & Non-Voice process</h3>
                <p></p>
            </div>
        </div>
        <div class="box">
            <FontAwesomeIcon class="fa-2x" icon={faUserMd} />
            <div class="box-in">
                <h3>Placement ( Domestic & International )</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>