<div id="header_wrapper">
    <div class="container">
      <div class="row">
        <div id="logo">
        <a to="/">  <img src="/images/globewick_logo.png" alt="logo" /></a>
        </div>
        <nav>
          <ul>
            <li>
              <a to="/">Home</a>
            </li>
            <li>
              <a to="/about">About Us</a>
            </li>
            <li>
              <a to="/login" >Login</a>
            </li>
            
          </ul>
        </nav>
      </div>
    </div>

  </div>