<div id="our-services">
    <div class="container">
      <div class="column">
        <h1>Our Services</h1>
        <div class="line"></div>
        <div class="services">
          <div class="box">
           <!-- <FontAwesomeIcon class="fa-2x" icon={faFileCode}/> -->
           <i class="fa fa-file-code fa-2x"></i>
            <h3>Web Development</h3>
            <p>
              
            </p>
          </div>
          <div  class="box">
            <i class="fas fa-code fa-2x"></i>
            <h3>Software Development</h3>
            <p>
              
            </p>
          </div>
          <div class="box">
            <i class="fas fa-hands-helping fa-2x"></i>
            <h3>CRM Development</h3>
            <p>
              
            </p>
          </div>
        </div>
        <a href="#" class="btn btn-red">
          More Services
        </a>
      </div>
    </div>
  </div>