<div id="about-us">
    <div class="container">
      <div class="grid-row">
        <div class="left">
          <h1>Who we are</h1>
          <div class="line"></div>
          
          <p>
            GLOBEWICK PVT. LTD. is a startup solution company delivering web development, software
development, mobile application and IT consulting to clients with superior level of services at
competitive price.
          </p>
          <p>
            Our BPO Services takes up outsourcing processes that are enabled by Information technology and
Non IT enabled services. These services span over diverse areas like Lead Generation, Sales and
Support, Financial Accounting, Chat and Email customer support, Procurement, Medical Billing, along
with voice and non-voice customer support and Transcription services,.
          </p>
          <!-- {/* <a class="btn btn-red btn-left">Learn More</a> */} -->
        </div>
        <div class="right">
            <!-- {/* <div class="box"></div> */} -->
            <img class="box" src="/images/carousel/business2.jpg" alt="image"/>
        </div>
      </div>
      </div>
      <OurTeam />
    
  </div>