<div id="about-us">
    <div class="container">
      <div class="grid-row">
        <div class="left">
          <h1>Who we are</h1>
          <div class="line"></div>
          
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Consectetur quo neque officia aspernatur iste eligendi.
              Laudantium, atque! Voluptatibus mollitia maxime quod at
               similique nam velit voluptate deserunt eaque, in vero
                culpa maiores. Exercitationem earum enim commodi
                 laborum assumenda harum impedit!
          </p>
          <!-- {/* <a class="btn btn-red btn-left">Learn More</a> */} -->
        </div>
        <div class="right">
            <!-- {/* <div class="box"></div> */} -->
            <img class="box" src="/images/carousel/business2.jpg" alt="image"/>
        </div>
      </div>
      </div>
      <OurTeam />
    
  </div>