<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/User/Home/utility.css" />
    <link rel="stylesheet" type="text/css" href="/css/User/About/about.css" />
    <link rel="stylesheet" type="text/css" href="/css/User/Home/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/User/Home/index.css" />                   
    <title>About Us</title>
</head>
<body>
    
    <div id="about-container">
        <%- include('../Home/Helpers/navbar') %>
        <%- include('./Helpers/AboutUs') %>
        </div>
        
        <%- include('../Home/Helpers/Footer') %>
</body>
</html>